body{
    background-color: #8DC6C0;
    margin: 0;
}

div.login{
    background-color: white;
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 15px;
    border-radius: 5px;
    width: 95%;
    padding: 10px 20px;
    box-shadow: 0 0 5px 1px black;
}

#add a{
    text-decoration: none;
    color: black;
}

button{
    background-color: white;
    border: 0px;
    border-radius: 5px;
    box-shadow: 0 0 5px 1px black;
    display: block;
    margin: 0 auto;
    width: 150px;
    height: 30px;
    margin-top: 10px;
    font-size: 15px;    
}

button:hover{
    box-shadow: 0 0 10px 3px black;
}