body{
    margin: 0px;
    background-color: #8DC6C0;
}

div.formulaire{
    background-color: white;
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    margin-top: 50px;
    font-size: 18px;
    border-radius: 10px;
    
    box-shadow: 0px 0px 10px 1px black;
}

table{
    margin: 0 auto;
    width: 95%;
}


table tr td:last-child{
    width: 78%;
}

input{
    height: 30px;
    border-radius: 5px;
    border: 1px solid #aaa;
    width: 100%;
    font-size: 15px;
    margin: 5px 0;
    padding-left: 10px;
}

input:focus{
    box-shadow: 0 0 3pt 1pt rgb(68, 135, 255);
    border-radius: 5px;
}

input[type=button]{
    background-color: #8DC6C0;
    border: 0px;
    border-radius: 10px;
    color: white;
    width: 150px;
    height: 35px;
    font-size: 18px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    box-shadow: 0px 0px 5px black;
}

input[type=submit]:hover{
    box-shadow: 0px 0px 5px 1px black;
}