body{
    background-color: #8DC6C0;
    margin: 0;
}

div.login{
    border-radius: 50%;
    background-color: #fff;
    width: 300px;
    margin: 0 auto;
    margin-top: 50px;
    height: 300px;
    box-shadow: 0px 0px 15px -1px black;
}

div.login img{
    margin: 0 auto;
    display: block;
    width: 225px;
    padding: 25px;
}

button{
    background-color: white;
    border:1px solid white;
    border-radius: 5px;
    margin: 0 auto;
    display: block;
    width: 200px;
    margin-top: 10px;
    color:  #222;
    font-size: 25px;
    box-shadow: 0px 0px 10px -1px black;
}

button:hover{
    background-color: #ddd;
    box-shadow: 0px 0px 15px 1px black;
}

button:active{
    border-color: #8DC6C0;
}
a{
  text-decoration : none ;  
  color : black ;
}